@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: #fff;
}
.container {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.chat-container {
  background: rgb(44, 46, 54);
  height: 95%;
  border-style: solid;
  border-bottom: 0;
  border-color: black;
  border-width: 3px;
  border-radius: 1em 1em 0 0;
  padding: 3%;
  color: #fff;
  font-size: 1.1rem;
}
.form-container {
  background: rgb(123, 163, 238);
  height: 5%;
  border-style: solid;
  border-top: 0;
  border-width: 3px;
  border-radius: 0 0 1em 1em;
  padding: 3%;
}
input {
    border-radius: 3px;
}
